*{
	margin: 0;
	padding: 0;
}
div{
	width: 80px;
	height: 80px;
}
.rojo{
	background-color:#ee3e64;
	top: 200px;
}
.azul{
	background-color: #2C5684;
}
.verde{
	background-color:#b7d84b;
	top: 300px;
}
.amarillo{
	background-color: yellow;
}
.absolute{
	position: absolute;
	left: 100px;
}